@import '../../node_modules/snazzy-info-window/dist/snazzy-info-window.scss';

$conceptRed: #E42313;
$conceptGray: #C3C3C3;
$conceptBlack: #555353;
$conceptWhite: #FFFFFF;

#app
{
    margin-top: 0px;
}

body
{
    background-color: $conceptWhite;
}

#map
{
	width: 100%;
	height: 100vh;
}

a:link
{
    color: $conceptWhite;
    text-decoration: none;
    background-color: $conceptBlack;
}

a:visited
{
    background-color: $conceptBlack;
    color: $conceptWhite;
}

a:hover
{
    background-color: $conceptBlack;
    color: $conceptRed;
}

a:active
{
    color: $conceptWhite;
    background-color: $conceptGray;
}

/* scrollbar styling */
::-webkit-scrollbar
{
    background-color: $conceptGray;
    color: $conceptBlack;
    width: 10px;
}

::-webkit-scrollbar-thumb
{
    background-color: $conceptBlack;
}

/* Navigation */
#mainNavigation
{
    position: absolute;
    top: 30px;
    left: -10px;
    z-index: 2;
    transform: rotate(-7deg) skewX(-8deg);
    margin-left: 20px;
}

#mainNavigation > a
{
    position: relative;
    width: 200px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

/* begin bastel bastel mit markern */
.si-close-button
{
    position: absolute;
    top: 30px;
    right: 200px;
    background-color: $conceptBlack;
    color: $conceptWhite;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    transform: rotate(-7deg) skewX(-8deg);
    border-radius: 0px;
    opacity: 1;
}

.si-close-button:hover
{
    background-color: $conceptBlack;
    color: $conceptRed;
    opacity: 1;
}

.si-close-button:active
{
    color: $conceptWhite;
    background-color: $conceptGray;
    opacity: 1;
}

.si-close-button:visited
{
    background-color: $conceptBlack;
    color: $conceptWhite;
    opacity: 1;
}

.si-has-border .si-content-wrapper
{
    border: none;
}

.si-content-wrapper
{
    background-color: transparent;
}

.si-frame
{
    flex: none;
}

.si-pointer-border
{
    border: none;
}

.si-pointer-bg-top
{
    border-top-color: transparent;
}

.si-pointer-border-top
{
    border-top-color: transparent;
}

.si-wrapper-top
{
    transform: translate(-10%, -89%);
}

/* marker style */
/* kill the responsiveness and myself */
.contentOuterWrap
{
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: 287px;
    margin-left: 30px;
    margin-right: 100px;
}

.mittelDivInnerWrap
{
    width: 77.5%;
    margin-left: 10%;
}

.textWrap
{
    overflow-y: auto;
    height: 160px;
}

.titleWrap
{
    font-size: 1.7em;
}

.switchButton
{
    background-color: $conceptBlack;
    color: $conceptWhite;
    position: absolute;
    left: 0;
    margin-top: 240px;
    padding: 5px;
    transform: rotate(-7deg) skewX(-8deg);
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 3px;
    width: 130px;
    text-align: center;
}

.signWrapper
{
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    width: 180px;
    height: 116px;
    right: 0px;
    top: 13px;
}