@import '../../node_modules/snazzy-info-window/dist/snazzy-info-window.scss';

#app
{
    margin-top: 0px;
}

body
{
    background-color: white;
}

.row
{
    background: rgb(157, 243, 178);
    margin-bottom: 1rem;
}

.columns
{
    background:rgb(243, 157, 222);
    border: 5px solid black;
}

#map
{
	width: 100%;
	height: 100vh;
}

/* begin bastel bastel mit markern */
.si-has-border .si-content-wrapper
{
    border: none;
}

.si-content-wrapper
{
    background-color: transparent;
}

.si-frame
{
    flex: none;
}

.si-pointer-border
{
    border: none;
}

.si-pointer-bg-top
{
    border-top-color: transparent;
}

.si-pointer-border-top
{
    border-top-color: transparent;
}

.si-wrapper-top
{
    transform: translate(-10%, -89%);
}

/* marker style */
/* kill the responsiveness and myself */
.contentOuterWrap
{
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    height: 287px;
    margin-left: 30px;
    margin-right: 100px;
}

.mittelDivInnerWrap
{
    width: 77%;
    margin-left: 10%;
}

.textWrap
{
    overflow-y: auto;
    height: 160px;
}

.titleWrap
{
    font-size: 1.7em;
}

.switchButton
{
    background-color: #555353;
    color: white;
    position: absolute;
    left: 0;
    margin-top: 240px;
    padding: 5px;
    transform: rotate(-7deg);
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 3px;
    width: 130px;
    text-align: center;
}

.signWrapper
{
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    width: 180px;
    height: 116px;
    right: 0px;
    top: 13px;
}